$mainColor: #76c0e9;
$headerHeight: 80px;
$blueborder: 3px solid $mainColor;


@import 'standard';




body{

  header{

    height: $headerHeight;

    .flexwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

  }


  .banner{
    .site-title{
      position: absolute;
      top: 50%;
      left: 0px;
      right: 0px;
    }
    margin-top: $headerHeight;
    height: 70vh;

    h1{
      background-color: $mainColor;
      padding: 19px;
      font-size: 35px;
    }

    .cta a{
      justify-content: center;
    }
  }



  .section-gray{
        background-color: #ececec;
  }

  .border-wrap {
    border: 1px solid rgb(228, 228, 228);
    padding: 19px;
    border-top: $blueborder;


}

.sidebar{

  form#searchform{
    input#s{

      background-color: #ececec;

    }
  }

.textwidget{

  border: 1px solid rgb(228, 228, 228);
  border-top: $blueborder;
  color: black;

  h4{
    font-weight: bold;
  }

  p{
    font-size: 16px;
  }

  img{
    max-height: 250px;
    width: auto;
    height: auto;
    margin: auto;
  }
}

}

}

#awards{
  img{
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: auto;
  }
}


//SINGLE PAGE STYLES

.single{

  .container{



h1.page-title{
  position: initial;
    /* top: auto; */
    /* left: auto; */
    color: $mainColor;
    font-size: 60px;
    margin-top: 0px;
    text-align: center;
}
}


}





.left-side-text{
      border-top: 4px solid $mainColor;
}



@media (max-width: 995px){


header{

  z-index: 9999;

	.flexwrapper{

	.nav-menu{

	.site_nav{


		 li {
    	//float: none;
    	background-color: #76c0e9;

      a{

      }
	}


	}
}

}
}

}
